* {
  padding: 0px;
  margin: 0px;
  font-size:50px;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #ff9a9e;
  color: white;
  padding: 36px;
  text-align: center;
  padding-top: 10%;
}

input {
  color: #ff9a9e; 
}
#btn {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px solid rgb(250, 241, 241);
  background-color: #ff9a9e;
  color: white;
  font-size: 70px;
  cursor: pointer;
}

#btn:hover {
  background-color: white;
  color: #ff9a9e;
  box-shadow: 3px 3px 3px 3px white;
}